<p>
  Groupedia is a SaaS wiki collaboration tool where users can create public shareable wikis with live markdown preview. Users can also upgrade their membership to gain access to private wikis. Groupedia utilizes <a href="http://stripe.com">Stripe</a> for subsciption payments and Devise/Omniauth to handle social login with support for both Twitter and Facebook.

  Project built as part of <a href="https://www.bloc.io/?ref_token=OTU0MTQ">Bloc.io</a> a web development apprenticeship.
</p>

<br/>
 <h4><a href="https://www.orrettdavis.com">Orrett Davis</a></h4>
 <img src="https://dl.dropboxusercontent.com/u/1314811/Blog/OrrettDavis.jpg" class="img-rounded" style=" width: 100px; height: 100px;">


