<p>
  <h4>Blocipedia</h4>A SaaS wiki collaboration tool. Users can create public wiki shareable wikis. Utilizes stripe for subsciption payments. Project built as part of  <a href="http://bloc.io">Bloc.io</a>  web development apprenticeship
</p>

<br/>
 <h4><a href="https://twitter.com/odavis">Orrett Davis</a></h4>
 <img src="https://pbs.twimg.com/profile_images/378800000770106053/82c112a92ef4f1845f4fa76983f88c8c.jpeg" class="img-rounded" style=" width: 100px; height: 100px;">


