
<p>
  <h3>Blocipedia</h3> is a SaaS wiki collaboration tool. That allows paid users to create private shareable wikis. Project built for <a href="http://blo.io">Bloc.io</a>
</p>

<p>
  Built by <a href="https://twitter.com/odavis">Orrett Davis </a><br/>

  <img src="https://pbs.twimg.com/profile_images/378800000770106053/82c112a92ef4f1845f4fa76983f88c8c.jpeg" class="img-rounded" style=" width: 100px; height: 100px;">
</p>
