<div class="jumbotron">
 <h1>Blocipedia</h1>
 <p class="lead">Private group wikis</p>
 <% if current_user  %>
  <%= link_to new_charge_path do %>
    <button class="btn btn-primary">
      <i class="fa fa-star fa-lg"></i>
        Upgrade
    </button>
    <% end %>
  <% else %>
    <%= link_to new_user_registration_path do %>
      <button class="btn btn-success">
        <i class="fa fa-bolt fa-lg"> </i>
        Sign up
      </button>
    <% end %>
  <% end %>
  </div>

<div class="container">
  <div class="row marketing">
    <div class="col-lg-6">
      <h4>Private Wikis</h4>
      <p>Create private wikis amongst friends. <br/>Add friends to collaborate on projects</p>
    </div>

    <div class="col-lg-6">
      <h4>Live Preview</h4>
      <p>Wikis have full markdwon support. <br/>
        See your work live with a built in WYSIWYG</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="footer ">
    <p class="pull-right">&copy; <a href="http://www.orrettdavis.com"> Orrett Davis</a></p>
  </div>
</div>