<div class="jumbotron">
  <h1>Blocipedia</h1>
  <p class="lead">Private group wikis</p>
  <%= link_to new_user_registration_path do %>
    <button class="btn btn-success">
    <i class="fa fa-male fa-lg"> </i>
    Sign up
    </button>
  <% end %>
  </div>

<div class="container">
  <div class="row marketing">
    <div class="col-lg-6">
      <h4>Subheading</h4>
      <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
    </div>

    <div class="col-lg-6">
      <h4>Subheading</h4>
      <p>Donec id elit non mi porta gravida at eget metus. Maeceas faucibus mollis interdum.</p>
    </div>
  </div> 
</div>

<div class="container">
  <div class="footer">
    <p>&copy; Li Labs 2013</p>
  </div>
</div>