<h3> Wiki list </h3>

<% @wikis.each do |wiki| %>
  <h3><%= link_to wiki.topic, wiki %></h3>
  <p><%= wiki.description %>
  <% if can? :destroy, Wiki %>  
    <%= link_to "Delete", wiki, method: :delete, class: "btn btn-warning btn-xs", confirm: "Are you sure?" %>
  <p>
    <% end %>
<% end %>


<br/>

<%= link_to "Create Wiki", new_wiki_path, class: "btn btn-success" %>