<h3>Your Wiki list </h3>

<% @wikis.each do |wiki| %>
  <h3><%= link_to wiki.topic, wiki %></h3>
  <p><%= wiki.description %><p>
<% end %>


<br/>
<%= link_to "New Wiki", new_wiki_path, class: "btn btn-success" %>

<!--
<div class="table-responsive">
  <table class="table table-bordered table-striped">
    <thead>
      <th>#</th>
      <th>Topic</th>
      <th>Edit</th>
      <th>Delete</th>
      <th>Export</th>
    </thead>

    <tr>
      
    </tr>
  <table>
</div>
-->